/* use '/*' for comments */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/* top navigattion bar */
.navigation {
    background:#070707;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navigation__container { /* splits the restaurant logo/name from the
    navigation links */
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px
}

.navigation__menu { /* puts the navigation links next to each other
    instead of on top of each other */
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navigation__item {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navigation__links {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    text-decoration: none;
}

.navigation__links:hover {
    color: rgb(192, 206, 114);
    transition: all 0.3s ease;
}
#navigation__logo {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f5f5f5 0%, #aaaaaa 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.login-header {
    text-align: center;
    margin: 20px 0 4 0;
}

.login-header header {
    color:#070707;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: -10px;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 2px solid #070707;
}

::placeholder{
    font-weight: 500;
    color: #aaaaaa
}

.login-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

.login-submission label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer
}

.registration-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.registration-link a{
    color: #070707;
    font-weight: 600;
    text-decoration: none;
}

/* signup/registration page */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff
}

.signup-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.signup-header {
    text-align: center;
    margin: 20px 0 4 0;
}

.signup-header header {
    color:#070707;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: -10px;
}

.signup-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 2px solid #070707;
}

.login-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.login-link a{
    color: #070707;
    font-weight: 600;
    text-decoration: none;
}

.password-req {
    list-style-position: inside;
}

.password-req li {
    padding-left: 25px;
    margin-top: 5px;
    font-size: small;
}

.user-req p {
    position: relative;
    top: -10px;
}

.input-submission { /* needed a little space b/w the button and requirements list */
    position: relative;
    bottom: -10px;
}

.signup-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

.signup-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer
}

/* feeedback page */
.feedback-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 100px 20px 20px 20px; /* top right bottom left */
    max-width: 1600px;
}

.feedback-header {
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-date {
  /* puts the writing and input box next to each other */
  display: flex;
  align-items: center;
}

.feedback-date p {
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.feedback-date input {
    padding: 6px 12px;
    width: 50%;
    border-radius: 30px;
    margin: 0 auto;
    height: 60px;
}

.feedback-email {
  display: flex;
  align-items: center;
}

.feedback-email p {
  height: 80px;
  width: 100%;
  max-width: 1300px;

  padding: 0 50px;
}

.feedback-email input {
  padding: 6px 12px;
  width: 50%;
  border-radius: 30px;
  height: 60px;
}

.feedback-input {
    text-align: center;
}

.feedback-input p {
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-textarea {
    width:75%;
    height: 140px;
    font-size: 17px;
    border-radius: 30px;
    margin-bottom: 15px;
    overflow-y: auto;

    text-align: left;
}

.feedback-btn {
    width: 50%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

.feedback-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer
}
