/* use '/*' for comments */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
.navigation {
    background:#070707;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navigation__container { /* splits the restaurant logo/name from the
    navigation links */
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px
}

.navigation__menu { /* puts the navigation links next to each other
    instead of on top of each other */
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navigation__item {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navigation__links {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    text-decoration: none;
}

.navigation__links:hover {
    color: rgb(192, 206, 114);
    transition: all 0.3s ease;
}
#navigation__logo {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f5f5f5 0%, #aaaaaa 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.login-header {
    text-align: center;
    margin: 20px 0 4 0;
}

.login-header header {
    color:#070707;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
}

::placeholder{
    font-weight: 500;
    color: #aaaaaa
}

.submission-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

.input-submission label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer
}

.registration-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.registration-link a{
    color: #070707;
    font-weight: 600;
    text-decoration: none;
}