{% extends "base.html" %}
{% block title %}Feedback{% endblock %}

{% block content %}
<div class="feedback-container">
    <div class="feedback-header">
        <h1>Feedback Form</h1>
    </div>
    <div class="feedback-date">
        <p>Enter date of experience</p>
        <input type="date" class="type">
    </div>
    <div class="feedback-email">
        <p>E-mail address</p>
        <input type="text">
    </div>
    <div class="feedback-input">
        <p>Tell us about your experience</p>
        <textarea class="feedback-textarea"></textarea>
    <div class="input-submission">
        <button class="feedback-btn" id="feedback-submit">Submit Feedback</button>
    </div>
</div>
{% endblock %}