{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="index-container">
    <div class="index-header">
        <h1>Welcome to 'Restaurant Name'</h1>
    </div>
    <div class="index-description">
        <p>Description for restaurant</p>
    </div>
    <div class="index-links">
        <a href="/menu">Browse Menu</a>
        <a href="/feedback">Leave a Review</a>
    </div>
    <div class="index-background">
        <img src="static/images/background2.jpg">
    </div>
</div>
{% endblock %}
