{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<html>
  <head>
        <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Background Image Example</title>
        <link rel="stylesheet" href="ucnj_style.css"> <!-- Link to your CSS file -->
    <!-- Metadata goes here -->
  </head>
  <body>
   <div class="index-container">
    <div class="index-header">
        <h1>Welcome to<br>La Isla Del Sabor
        </h1>
    </div>
    <div class="index-description">
        <p>Enjoy the bold, home-cooked flavors of the Caribbean</p>
    </div>
    <div class="index-links">
        <a href="/menu">Browse Menu</a>
        <a href="/feedback">Leave a Review</a>
    </div>
    <div class="index-background">
        <img src="static/images/background2.jpg">
    </div>
</div>
    <!-- Visible content goes here -->
  </body>
</html>
{% endblock %}
